body
{
    height: 100vh;
}
div.content
{
    position: relative;
    height: calc(100vh - 86px);
}
div.section
{
    grid-area: blockSection;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 30px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 3px;
    margin-bottom: 30px;
}
div.section:last-child
{
    margin-bottom: 0px;
}
div.section > span.section-name
{
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    padding: 30px 30px;
    margin: -60px -60px 15px -60px;
    position: sticky;
    top: 0px;
    
}
div.section > p.section-description
{
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 76px;
    padding: 30px 30px;
    margin: -30px -60px 15px -60px;
}

div.section > div.css-item
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    margin: 0px -30px;
    padding: 0px 30px 15px 30px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.125);
}
div.section > div.css-item > div.item
{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}
div.section > div.css-item > div.item > input,
div.section > div.css-item > div.item > select
{
    width: 80%;
    height: 30px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    padding: 0 10px;
}
div.export
{
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
button.btn
{
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 3px;
    padding: 10px 20px;
    border: 0px;
    cursor: pointer;
    transition: .25s;
}
button.btn:hover
{
    background-color: rgba(255, 255, 255, 0.25);
}
